.container {
    display: flex;
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid var(--color-secondary-5);
    border-radius: var(--border-radius-m);
    background: var(--color-white);
}

.withIcon {
    padding-left: 32px;
}

.input::-webkit-input-placeholder,
.input::-moz-placeholder {
    color: var(--color-grey);
}

.input:hover {
    cursor: pointer;
    outline: 1px solid var(--color-secondary-5);
}

.input:focus,
.input:active {
    cursor: text;
    outline: 1px solid var(--color-primary);
}

.clearButton {
    position: absolute;
    top: 50%;
    right: 13px;
    height: 16px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.icon {
    display: flex;
    position: absolute;
    top: 50%;
    left: 12px;
    height: 16px;
    width: 16px;
    transform: translateY(-50%);
}
