.container {
    width: 100%;
}

.input {
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    color: var(--color-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid var(--color-secondary-5);
    border-radius: var(--border-radius-m);
    background: var(--color-white);
}

.input::-webkit-input-placeholder,
.input::-moz-placeholder {
    color: var(--color-grey);
}

.input:focus,
.input:hover {
    outline: 1px solid var(--color-orange);
}
