.text-size-xxs {
    font-size: 14px;
    line-height: 20px;
}

.text-size-xs {
    font-size: 16px;
    line-height: 24px;
}

.text-size-s {
    font-size: 20px;
    line-height: 32px;
}

.text-size-m {
    font-size: 24px;
    line-height: 32px;
}

.text-size-l {
    font-size: 28px;
    line-height: 34px;
}

.text-size-xl {
    font-size: 32px;
    line-height: 37.5px;
}

.text-weight-light {
    font-weight: 300;
}

.text-weight-regular {
    font-weight: 400;
}

.text-weight-medium {
    font-weight: 500;
}

.text-weight-bold {
    font-weight: 600;
}

.text-weight-extrabold {
    font-weight: 700;
}

.text-style-italic {
    font-style: italic;
}

.text-style-normal {
    font-style: normal;
}

.text-color-dark {
    color: var(--color-secondary-2);
}

.text-color-light {
    color: var(--color-white);
}

.text-color-grey {
    color: var(--color-secondary-4);
}

.text-color-error {
    color: var(--color-error);
}

.text-color-primary {
    color: var(--color-primary);
}


.text-font-family-monospace {
    font-family: monospace;
}

