.container {
    display: grid;
    grid-template-columns: 408px 1fr;
    gap: 24px;
    align-items: flex-start;
    padding: 24px 32px;
    min-height: calc(100vh - var(--page-header-height));
}

.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}
