.container {
    background: var(--color-white);
    border-radius: var(--border-radius-l);
    padding: 24px;
}

.container:not(:last-child) {
    margin-bottom: 24px;
}

.container:nth-child(even) {
    background-color: transparent;
    padding: 0;
}