.header {
    position: sticky;
    top: 0;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    color: var(--color-white);
    background-color: var(--color-secondary-1);
    z-index: var(--z-index-header);
}