.container {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    padding: 8px;
    border: 1px solid var(--color-secondary-5);
    border-radius: var(--border-radius);
    background-color: var(--color-white);
}

.hide {
    display: none;
}

.item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.selected,
.item:hover {
    background-color: var(--color-secondary-5);
}
