.container {
    position: sticky;
    top: 108px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 132px);
}

.selectors {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
