.container {
    position: sticky;
    top: 108px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 232px;
}

.selectors {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
