:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--color-secondary-2);
    background-color: var(--color-secondary-3);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-white: #ffffff;
    --color-black-transparent: rgba(0, 0, 0, 0.5);
    --color-secondary-1: #333333;
    --color-secondary-2: #1b1f23;
    --color-secondary-3: #f5f5f5;
    --color-secondary-4: #999fa6;
    --color-secondary-5: #e1e3e6;
    --color-primary: #ff5500;
    
    --border-radius-m: 8px;

    --z-index-header: 1;
    --z-index-modal: 2;
    --z-index-items: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;

    list-style: none;
}
