:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-secondary-2);
  background-color: var(--color-secondary-3);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: #FFFFFF;
  --color-secondary-1: #333333;
  --color-secondary-2: #1B1F23;
  --color-secondary-3: #F5F5F5;
  --color-primary: #FF5500;
}