.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: 0 0 4px 0 var(--color-black-transparent);

    opacity: 1;
    transition-property: opacity;
    transition-duration: 300ms;
}

.container:not(.disabled) {
    cursor: pointer;
}

.size-m {
    width: 48px;
    height: 48px;
}

.size-s {
    width: 32px;
    height: 32px;
}

.disabled {
    background-color: var(--color-secondary);
}

.hidden {
    opacity: 0;
}

.prev {
    transform: rotate(180deg);
}
