.size-s {
    border-radius: var(--border-radius-m);
    max-width: 100px;
}

.size-m {
    border-radius: var(--border-radius-m);
    max-height: 225px;
}

.size-l {
    border-radius: var(--border-radius-l);
    max-height: 350px;
}

.size-xl {
    border-radius: var(--border-radius-xl);
    max-height: 525px;
}