.size-s {
    border-radius: var(--border-radius-m);
    max-width: 100px;
}

.size-m {
    border-radius: var(--border-radius-m);
    max-width: 150px;
}

.size-l {
    border-radius: var(--border-radius-l);
    max-width: 200px;
}

.size-xl {
    border-radius: var(--border-radius-xl);
    max-width: 350px;
}