.base {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.size-s {
    border-radius: var(--border-radius-m);
    width: 100px;
}

.size-m {
    border-radius: var(--border-radius-m);

    height: 225px;
    width: 160px;
}

.size-l {
    border-radius: var(--border-radius-l);

    height: 350px;
    width: 240px;
}

.size-xl {
    border-radius: var(--border-radius-xl);

    height: 500px;
    width: 400px;
}